.mainApp {
  background: rgb(246,246,246);
  background: linear-gradient(138deg, rgba(246,246,246,1) 0%, rgba(176,224,160,1) 45%, rgba(44,73,34,1) 100%);
  display: flex;
  flex-direction: column;
}

.router {
  min-height: 100vh;
}

@media (min-width: 800px) {
  .router {
    padding-top: 100px;
  }
}



