.first-row{
  height: 90vh;
  /* padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; */
}

/* @media (min-width: 992px) {
  .first-row {
      width: 970px;
  }
}

@media (min-width: 768px) {
  .first-row {
    width: 750px;
  }
} */
.row {
  display: flex;
  align-items: center;
}

.section-text {
  font-family: fantasy;
  font-weight: bolder;
}

.section-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}

.section-image > h5 {
  width: 60%;
  text-align: center;
  color: black;
  font-family: monospace;
  font-weight: revert;
}

.secondRow {
  background-color: darkslategray;
  margin: 0;
}


.image2 > img {
  margin-bottom: 50px;
  padding: 10%;
}

.image2Info > p {
  color: white;
  margin: 0;
  font-size: 50px;
  padding: 15%;
  font-style: italic;
  font-weight: bolder;
  font-family: -webkit-pictograph;
}


/* MEDIA QUERIES */

@media (max-width: 800px) {
  .row {
    flex-direction: column;
    text-align: center;
  }

  .image2Info > p {
    border-top: 1px solid white;
  }
}

@media (min-width: 800px) {
  .section-text > h1{
    font-size: 65px;
  }

  .helloAnimation {
    width: 100px;
    height: 100px;
    background-color: white;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    opacity: 0.5;
  }

  @keyframes example {
    0%   {left:-20px; top:100px; }
    25%  {left:420px; top:100px; }
    50%  {left:150px; top:250px; }
    75%  {background-color:white; left:-20px; top:250px; }
    100% {background-color:white; left:-20px; top:100px; }
  }

}
