<div class="container">
  <div class="row first-row">
    <div class="col-sm-6">
      <div class="section-text">
        <div class="helloAnimation"></div>
        <h1> WELCOME TO PEOPLE MANAGEMENT SYSTEM</h1>

      </div>
    </div>
    <div class="col-sm-6">
      <div class="section-image">
        <img class="img-responsive" src="assets//images/tree.png" alt="">
        <h5>Tree Structure makes it easier to manage this system</h5>
      </div>
    </div>
  </div>
</div>

<div class="row secondRow">
  <div class="col-sm-6 image2">
    <img class="img-responsive" src="assets//images/pms1.svg" alt="">
  </div>
  <div class="col-sm-6 image2Info">
    <p>One Platform to manage all those resources as per your need</p>
  </div>
</div>
