<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">

    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>

      {{node.name}}

      <button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">

      </button>

      <ul>
        <li *ngFor="let employee of node.listOfEmployee; let i = index">
          {{employee.firstName}}
          {{employee.lastName}}
          {{employee.dateOfBirth}}
          {{employee.speciality}}
        </li>
      </ul>
    </mat-tree-node>
  </mat-tree>
