<div class="footer">
  <div class="container">
    <!-- <table>
      <tr>
        <td>SWITZERLAND</td>
        <td></td>
        <td>UKRAINE</td>
        <td>IRELAND</td>
      </tr>
      <tr>
        <td>VIA LANDRIANI 7 6900 LUGANO, SWITERLAND</td>
        <td>KREUZKAPELLENWEG 2 5430 WETTINGEN, SWITZERLAND</td>
        <td>DOROHOZHYTSKA ST.3 KYIV, UKRAINE, 02000</td>
        <td>UNIT 7B AIRPORT EAST BUSINESS PARK FARMERS CROSS, CO.CORK, IRELAND</td>
      </tr>
    </table> -->

    <div class="companyAddInfo">
      <div class="companyAddInfoCard">
        <p>SWITZERLAND</p>
        <p>VIA LANDRIANI 7 6900 LUGANO, SWITERLAND</p>
      </div>
      <div class="companyAddInfoCard">
        <p><span></span></p>
        <p>KREUZKAPELLENWEG 2 5430 WETTINGEN, SWITZERLAND</p>
      </div>
      <div class="companyAddInfoCard">
        <p>UKRAINE</p>
        <p>DOROHOZHYTSKA ST.3 KYIV, UKRAINE, 02000</p>
      </div>
      <div class="companyAddInfoCard">
        <p>IRELAND</p>
        <p>UNIT 7B AIRPORT EAST BUSINESS PARK FARMERS CROSS, CO.CORK, IRELAND</p>
      </div>
    </div>

  </div>

  <div class="container copyrightSection">
    <p>COPYRIGHT &#169; 2020 ILOY SOLUTIONS SA. ALL RIGHTS RESERVED.</p>
  </div>

</div>
